<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kylehirschfelder.ship" >

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/search"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemberForm"
            android:label="@string/title_activity_member_form"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ViewMemberProfile"
            android:label="@string/title_activity_view_member_profile"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MemberFamilyFromHeadListView"
            android:label="Family"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".TransferMemberListView"
            android:label="@string/title_activity_transfer_member_list_view"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".WifiDirectActivity"
            android:label="@string/title_activity_wifi_direct" >
        </activity>
        <activity
            android:name=".MoreDrugInfo"
            android:label="@string/title_activity_more_drug_info" >
        </activity>
        <activity
            android:name=".MoreDrugInfo_DrugInfo"
            android:label="@string/title_activity_more_drug_info__drug_info" >
        </activity>
        <activity
            android:name=".MoreDrugInfo_SideEffects"
            android:label="@string/title_activity_drug_info__side_effects" >
        </activity>
        <activity
            android:name=".MoreDrugInfo_Uses"
            android:label="@string/title_activity_more_drug_info__uses" >
        </activity>
        <activity
            android:name=".MoreDrugInfo_Precautions"
            android:label="@string/title_activity_more_drug_info__precautions" >
        </activity>
        <activity
            android:name=".MedicineAddInterface"
            android:label="@string/title_activity_medicine_add_interface" >
        </activity>
        <activity
            android:name=".MedicineAddListView"
            android:label="@string/title_activity_medicine_add_list_view" >
        </activity>
        <activity
            android:name=".MedicineAddShowCur"
            android:label="@string/title_activity_medicine_add_show_cur" >
        </activity>
        <activity
            android:name=".AddPrimaryFamily"
            android:label="@string/title_activity_add_primary_family"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MemberAfterTransfer"
            android:label="Store Locally"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CensusForm"
            android:label="@string/title_activity_census_form"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MemberFormUpdate"
            android:label="@string/title_activity_member_form_update"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CF_ViewForm"
            android:label="@string/title_activity_cf__view_form"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CensusFormPortal"
            android:label="@string/title_activity_census_form_portal"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".TransferPortal"
            android:label="@string/title_activity_transfer_portal" >
        </activity>
        <activity
            android:name=".HouseTransferList"
            android:label="@string/title_activity_house_transfer_list"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".BirthFamilyListView"
            android:label="@string/title_activity_birth_family_list_view" >
        </activity>
        <activity
            android:name=".BirthInfoForm"
            android:label="Birth Info Form"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".BirthSelectMother"
            android:label="@string/title_activity_birth_select_mother" >
        </activity>
        <activity
            android:name=".NewCensusForm"
            android:label="@string/title_activity_new_census_form"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CensusViewForm"
            android:label="जनगणना"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>
