<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kylehirschfelder.ship" >

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />

    <application
        android:name=".CurrentVillage"
        android:allowBackup="true"
        android:icon="@mipmap/search"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemberForm"
            android:label="@string/title_activity_member_form"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ViewMemberProfile"
            android:label="@string/title_activity_view_member_profile"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MemberFamilyFromHeadListView"
            android:label="Family"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TransferMemberListView"
            android:label="@string/title_activity_transfer_member_list_view"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".WifiDirectActivity"
            android:label="@string/title_activity_wifi_direct"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AddPrimaryFamily"
            android:label="@string/title_activity_add_primary_family"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MemberAfterTransfer"
            android:label="Store Locally"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CensusForm"
            android:label="@string/title_activity_census_form"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MemberFormUpdate"
            android:label="@string/title_activity_member_form_update"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CF_ViewForm"
            android:label="@string/title_activity_cf__view_form"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CensusFormPortal"
            android:label="@string/title_activity_census_form_portal"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TransferPortal"
            android:label="@string/title_activity_transfer_portal"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".HouseTransferList"
            android:label="@string/title_activity_house_transfer_list"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".BirthFamilyListView"
            android:label="@string/title_activity_birth_family_list_view"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".BirthInfoForm"
            android:label="Birth Info Form"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- <activity android:name=".FormFragment"/> -->

        <activity
            android:name=".BirthSelectMother"
            android:label="@string/title_activity_birth_select_mother"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".NewCensusForm"
            android:label="@string/title_activity_new_census_form"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CensusViewForm"
            android:label="जनगणना"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PatientList"
            android:label="@string/title_activity_patient_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".DeathAdultForm"
            android:label="@string/title_activity_death_adult_form"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PNM_Info"
            android:label="@string/title_activity_pnm__info"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PortalUnderFive"
            android:label="@string/title_activity_portal_under_five"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PortalMother"
            android:label="@string/title_activity_portal_mother"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PNMForm_ask"
            android:label="@string/title_activity_pnmform_ask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PNMForm_see"
            android:label="@string/title_activity_pnmform_see"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PNMForm_hear"
            android:label="@string/title_activity_pnmform_hear"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PNMForm_other"
            android:label="@string/title_activity_pnmform_other"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SearchSEARCH"
            android:label="searchSEARCH"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".VideoPlayer"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".DeathChildForm"
            android:label="@string/title_activity_death_child_form"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1to5_Main"
            android:label="@string/title_activity_cod1to5__main"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1to5_I_II"
            android:label="@string/title_activity_cod1to5__i__ii"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1to5_III"
            android:label="@string/title_activity_cod1to5__iii"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1to5_IV"
            android:label="@string/title_activity_cod1to5__iv"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1to5_V"
            android:label="@string/title_activity_cod1to5__v"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1to5_VI"
            android:label="@string/title_activity_cod1to5__vi"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1to5_VII"
            android:label="@string/title_activity_cod1to5__vii"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1_I"
            android:label="@string/title_activity_cod1__i"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CodFifteenForm"
            android:label="CodFifteen"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CodFifteenView"
            android:label="CodFifteenView"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1_IV"
            android:label="@string/title_activity_cod1__iv"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".StillBirthForm"
            android:label="Still Birth"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod5to15_Main"
            android:label="Cod5to15"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod5to15_I"
            android:label="Cod5to15_I"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".BirthSupervisor"
            android:label="BirthSupervisor"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".BirthViewForm"
            android:label="BirthViewForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".DeathAdultView"
            android:label="Death Adult View"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".DeathChildView"
            android:label="Death Child View"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".DeathSupervisor"
            android:label="DeathSupervisor"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MedicineInventoryInterface"
            android:label="MedicineInventoryInterface"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MedicineInventoryAddMedicine"
            android:label="MedicineInventoryAddMedicine"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TransactionInterface"
            android:label="TransactionInterface"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PrescriptionInterface"
            android:label="PrescriptionInterface"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".StrokeActivity"
            android:label="StrokeActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".StrokeView"
            android:label="StrokeView"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1_VIII"
            android:label="Cod1_VII"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1_IX"
            android:label="Cod1_IX"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1_X"
            android:label="Cod1_X"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Cod1_V"
            android:label="Cod1_V" >
        </activity>
    </application>

</manifest>
